<div class="heading">
  <%= link_to "New salesperson", [:new, :admin, :salesperson],
              class: "btn btn-primary btn-sm pull-right" %>
  <h2>Salespeople</h2>
</div>

<div class="card card-raised">
  <div class="content">

    <table class="table table-responsive" style="margin-top: 4rem;">
      <thead>
      <tr>
        <th colspan="3"></th>
        <% index = 1
           @statistic_parameters.each do |key, values|
             index += 1 %>
            <th class="text-center <%= (index % 2 == 0) ? 'bg-gray' : '' %>" colspan="2"><%= t key %></th>
        <% end %>
      </tr>
      <tr>
        <th>Email</th>
        <th>Active?</th>
        <th>Admin?</th>
        <% index = 1
           @statistic_parameters.each do |key, values|
             index += 1%>
            <th class="text-right <%= (index % 2 == 0) ? 'bg-gray' : '' %>">Sales</th>
            <th class="text-right <%= (index % 2 == 0) ? 'bg-gray' : '' %>">CR</th>
        <% end %>
      </tr>
      </thead>
      <% @salespeople.each do |salesperson| %>
          <tr>
            <td>
              <%= link_to salesperson.email, [:edit, :admin, salesperson] %>
            </td>
            <td class="text-center">
              <%= tag :i, class: 'glyphicon glyphicon-ok' if salesperson.is_active? %>
            </td>
            <td class="text-center">
              <%= tag :i, class: 'glyphicon glyphicon-ok' if salesperson.admin? %>
            </td>
            <%
              index = 1
              @statistic_parameters.each do |key, values|
                index += 1%>
                <td class="text-right  <%= (index % 2 == 0) ? 'bg-gray' : '' %>">
                  <% if SalesTotal.where(salesperson: salesperson, sold_on: values[:range] ).any? &&
                      sales_total(salesperson, values[:range] ).positive? %>
                      <%= number_to_currency sales_total( salesperson, values[:range] ), precision: 0 %>
                      (<%= sales_count(salesperson, values[:range]) %>)
                  <% end %>
                </td>
                <td class="text-right  <%= (index % 2 == 0) ? 'bg-gray' : '' %>">
                  <% if SalesTotal.where(salesperson: salesperson, sold_on: values[:range] ).any? %>
                      <% if sales_count(salesperson, values[:range]).positive? %>
                          <%= conversion_rate(salesperson, values[:range]) %>
                      <% end %>

                  <% end %>
                </td>
            <% end %>
          </tr>
      <% end %>
    </table>
  </div>
</div>
