<div class="heading">
  <%= link_to "New salesperson", [:new, :admin, :salesperson],
    class: "btn btn-primary btn-sm pull-right" %>
  <h2>Salespeople</h2>
</div>

<div class="card card-raised">
  <div class="content">

<table class="table" style="margin-top: 4rem;">
  <thead>
    <tr>
      <th>Email</th>
      <th>Streak API Key?</th>
      <th>User Key?</th>
      <th>Active?</th>
      <th>Admin?</th>
      <% @statistic_parameters.each do |key, values| %>
        <th class="text-right"><%= t key %></th>
      <% end %>
    </tr>
  </thead>
  <% @salespeople.each do |salesperson| %>
    <tr>
      <td>
        <%= link_to salesperson.email, [:edit, :admin, salesperson] %>
      </td>
      <td>
        <%= tag :i, class: 'glyphicon glyphicon-ok' if salesperson.streak_api_key.present? %>
      </td>
      <td>
        <%= tag :i, class: 'glyphicon glyphicon-ok' if salesperson.user_key.present? %>
      </td>
      <td>
        <%= tag :i, class: 'glyphicon glyphicon-ok' if salesperson.is_active? %>
      </td>
      <td>
        <%= tag :i, class: 'glyphicon glyphicon-ok' if salesperson.admin? %>
      </td>
      <% @statistic_parameters.each do |key, values| %>
          <td class="text-right">
            <% if SalesTotal.where(salesperson: salesperson, sold_on: values[:range] ).any? %>
              <%= number_to_currency sales_total( salesperson, values[:range] ), unit: '', precision: 0 %>
              <% if sales_count salesperson, values[:range] %>
                    (<%= sales_count salesperson, values[:range] %> - <%= conversion_rate(salesperson, values[:range]) %>)
                <% end %>

            <% end %>
          </td>
      <% end %>
    </tr>
  <% end %>
</table>
  </div>
</div>
