<h2>Incomplete Webhooks</h2>
<table class="table table-striped table-sales">
  <thead>
  <tr>
    <th>State</th>
    <th>Created At</th>
    <th>Email</th>
    <th>Source</th>
    <th>Action</th>
    <th></th>
  </tr>
  </thead>

  <tbody>
  <% @webhooks.each do |webhook| %>
    <tr>
      <td><%= webhook.aasm_state %></td>
      <td><%= webhook.created_at %></td>
      <td><%= webhook.email %></td>
      <td><%= webhook.source %></td>
      <td><%= webhook.action_name %></td>

      <td><%= link_to 'Re-submit', perform_admin_webhook_path(webhook), class: "btn btn-xs btn-warning" %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<%= will_paginate @webhooks %>