<h2>Incomplete Webhooks</h2>
<table class="table table-striped table-sales">
  <thead>
  <tr>
    <th>State</th>
    <th>Created At</th>
    <th>Email</th>
    <th>Source</th>
    <th>Payload</th>
    <th>Last Error</th>
    <th></th>
  </tr>
  </thead>

  <tbody>
  <% @webhooks.each do |webhook| %>
    <tr>
      <td><%= webhook.aasm_state %></td>
      <td><%= time_ago_in_words webhook.created_at %> ago</td>
      <td><%= webhook.email %></td>
      <td><%= webhook.source %></td>
      <td title="<%= webhook.params.to_json %>"><span class="btn btn-default btn-xs">...</span></td>
      <td title="<%= webhook.params.to_json %>"><%= webhook.last_error %></td>
      <td><%= link_to('Re-submit', perform_admin_webhook_path(webhook), class: "btn btn-xs btn-warning") unless webhook.committed?%></td>
    </tr>
  <% end %>
  </tbody>
</table>

<%= will_paginate @webhooks %>