<div class="row">
  <div class="col text-center">
    <h4 class="text-muted">CUSTOM TATTOO DESIGN</h4>
    <br>
    <h1 class="text-info">Thanks for making your appointment!</h1>
  </div>
</div>
<div class="row">
  <div class="col">
    <h2 class="text-center">Appointment Details</h2>
    <table class="table table-responsive">
      <tbody>
      <tr>
        <td class="text-right col-xs-6">Time</td>
        <th class="text-left col-xs-6" id="eventStartTime">
          <%= @event.starts_at.strftime("%A, %B #{@event.starts_at.day.ordinalize}") %><br>
          <%= @event.starts_at.strftime("%H:%M %Z") %>
        </th>
      </tr>
      <tr>
        <td class="text-right">Your Number</td>
        <th class="text-left"><%= @event.user.phone_number.phony_formatted(format: :international) %></th>
      </tr>
      <tr>
        <td class="text-right">We'll Call Using</td>
        <th class="text-left"><%= @event.contact_methods.join("<br>").html_safe %></th>
      </tr>
      </tbody>
    </table>
  </div>
</div>
<div class="row">
  <div class="col text-center">
    <br>
    <br>
    <a class="btn btn-primary" href="https://customtattoodesign.ca/">Back to Our Web Site</a>
  </div>
</div>

<%= content_tag :div, class: "event_info", data: { request: @event.request, event: @event } do %>
<% end %>
<script>
  <%= render partial: "public/analytics.js.erb", locals: { request: @event.request } %>
</script>