<p>
  You have received a New Start Design request. Please see the details below.
</p>

<p>
  <b>Name:</b> <%= @request.full_name || "Not specified" %><br>
  <b>Email Address:</b> <%= @user.email %><br>
  <b>First Tattoo?</b> <%= @request.is_first_time ? "Yes" : "No" %><br>
  <b>Gender?</b> <%= @request.gender&.titleize || "Not specified" %><br>
  <b>In Color?</b> <%= @request.has_color ? "Yes" : "No" %><br>
  <b>Position?</b> <%= @request.position %>
  <b>Style?</b> <%= @request.style %>
  <b>Size?</b> <%= @request.size %>
</p>

<b>Description:</b>
<p>
  <%= @request.description %>
</p>

<% if @request.images.any? %>
  <b>Images:</b>
  <ul style="list-style: none; padding-left: 0;">
    <% @request.images.each do |image| %>
        <li style="padding-left: 0;">
          <a style="border: none; cursor: pointer; text-underline: none;"
             href="<%= api_request_image_url(image, uuid: @request.uuid ) %>"
             target="_blank">
            <img src="<%= api_request_image_url(image, uuid: @request.uuid ) %>" width="175">
          </a>
        </li>
    <% end %>
  </ul>
<% end %>

<% unless @request.streak_box_key.to_s.empty? %>
  <p style="font-size: 5px; font-family: monospace; display: none; color: transparent;">
    Request ID<br>
    <span class="streak-box-key"><%= @request.streak_box_key %></span>
  </p>
<% end %>