<%= form_for(@request) do |f| %>
  <% if @request.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@request.errors.count, "error") %> prohibited this request from being saved:</h2>

      <ul>
      <% @request.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.text_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :token %><br>
    <%= f.text_field :token %>
  </div>
  <div class="field">
    <%= f.label :is_first_time %><br>
    <%= f.check_box :is_first_time %>
  </div>
  <div class="field">
    <%= f.label :gender %><br>
    <%= f.text_field :gender %>
  </div>
  <div class="field">
    <%= f.label :has_color %><br>
    <%= f.check_box :has_color %>
  </div>
  <div class="field">
    <%= f.label :position %><br>
    <%= f.text_field :position %>
  </div>
  <div class="field">
    <%= f.label :notes %><br>
    <%= f.text_field :notes %>
  </div>
  <div class="field">
    <%= f.label :qid %><br>
    <%= f.text_field :qid %>
  </div>
  <div class="field">
    <%= f.label :requesting_cid %><br>
    <%= f.text_field :requesting_cid %>
  </div>
  <div class="field">
    <%= f.label :ticket_url %><br>
    <%= f.text_field :ticket_url %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
