<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<%
  yesterday_count = Request.valid
      .where( 'created_at between ? and ?', 1.day.ago.beginning_of_day, 1.day.ago.end_of_day).count
  two_days_ago_count = Request.valid.where( 'created_at between ? and ?',
                                      2.day.ago.beginning_of_day, 2.day.ago.end_of_day).count
  one_week_ago_count = Request.valid.where( 'created_at between ? and ?',
                                      8.day.ago.beginning_of_day, 8.day.ago.end_of_day).count
%>
<h3>Submit Counts</h3>
<table>
  <tr>
    <td>Yesterday:</td>
    <td><%= yesterday_count %></td>
    <td></td>
  </tr>
  <tr>
    <td>Two days ago:</td>
    <td><%= two_days_ago_count %></td>
    <td></td>
  </tr>
  <tr>
    <td>Yesterday last week:</td>
    <td><%= one_week_ago_count %></td>
  </tr>
</table>
<h3>E-Mails Sent During Last 24-Hours</h3>
<table>
  <% MarketingEmail.not_quotes.order(:state, :days_after_state_change).each do |email| %>
      <tr class="text-center">
        <td>
          <%= email.template_name.titleize %>
        </td>
        <td>
          <%= email.delivered_emails.delivered.where(delivered_emails: { created_at: [24.hours.ago..Time.now]}).count %>
        </td>
      </tr>
  <% end %>
</table>
</body>
