<div id="variants">
  <div class="list-group">
    <% @groups.each do |group| %>
        <a class="list-group-item" href="#!" data-toggle="collapse" data-parent="#variants" data-target="#group-<%= group.id %>" >
          <%= group.title %>
        </a>
        <div id="group-<%= group.id %>" class="list-group collapse">

            <% group.products.each do |product| %>

              <a href="#!" data-toggle="collapse" data-parent="#group-<%= group.id %>"
                 class="list-group-item text-right <%= product.css_classes %>"
                     data-target="#product-<%= product.id %>">
                <%= product.sub_title %>
              </a>
              <div id="product-<%= product.id %>" class="list-group collapse <%= product.css_classes %>">
                <% product.variants.each do |variant| %>
                    <p class="list-group-item">
                      <div class="row">
                        <div class="col col-md-4">
                          <%= variant.price %>
                        </div>
                        <button class="btn btn-sm btn-url" data-url="http://shop.customtattoodesign.ca/products/<%= product.handle %>?variant=<%= variant.id %>">GO</button>
                      </div>
                    </p>
                <% end %>
              </div>

            <% end %>
        </div>
    <% end %>
  </div>
</div>
