<div id="variants">
  <ul class="list-group">
    <% @groups.each do |group| %>
        <a class="list-group-item" href="#!" data-toggle="collapse" data-parent="#variants" data-target="#group-<%= group.id %>" >
          <%= group.title %>
        </a>
        <div id="group-<%= group.id %>" class="list-group collapse">

            <% group.products.each do |product| %>

              <a href="#!" data-toggle="collapse" data-parent="#group-<%= group.id %>"
                 class="list-group-item text-right <%= product.css_classes %>"
                     data-target="#product-<%= product.id %>">
                <%= product.sub_title %>
              </a>
              <div id="product-<%= product.id %>" class="list-group collapse <%= product.css_classes %>">
                <% product.variants.each do |variant| %>

                      <div class="row list-group-item">
                        <div class="col col-md-1">
                          <%= variant.option
                        </div>
                        <div class="col col-md-4">
                          <%= variant.price %>
                        </div>
                        <% url = "http://shop.customtattoodesign.ca/products/#{product.handle}?variant=#{variant.id}" %>
                        <button class="btn btn-sm btn-url"
                                data-clipboard-text="<%= url %>&uid=" title="Copy to clipboard">Copy URL</button>
                      </div>
                <% end %>
              </div>

            <% end %>
        </div>
    <% end %>
  </ul>
</div>
