<p id="notice"><%= notice %></p>

<p>
  <strong>Product:</strong>
  <%= @product_variant.product %>
</p>

<p>
  <strong>Shopify:</strong>
  <%= @product_variant.shopify_id %>
</p>

<p>
  <strong>Has color:</strong>
  <%= @product_variant.has_color %>
</p>

<p>
  <strong>Has cover up:</strong>
  <%= @product_variant.has_cover_up %>
</p>

<%= link_to 'Edit', edit_product_variant_path(@product_variant) %> |
<%= link_to 'Back', product_variants_path %>
