<div id="variants" class="container-fluid small">
  <ul class="nav">
    <% @groups.each do |group| %>
        <li  class="group">
          <a href="#group-<%= group.id %>" data-toggle="collapse" data-parent="#variants" data-target="#group-<%= group.id %>" class="">
            <%= group.title %>
          </a>
          <div id="group-<%= group.id %>" class="group collapse">
            <% group.products.each do |product| %>
              <table id="product-<%= product.id %>" class=" product <%= product_css_classes(product) %>">
                <tbody >
                  <% product.variants.each do |variant| %>
                      <tr class=" ">
                        <td class="">
                          <img src="<%= asset_url('color-wheel.png') %>" class="<%= variant.color? || 'fade' %>" width="12" height="12"/>
                        </td>
                        <td class="">
                          <span  class="<%= variant.cover_up? || 'fade' %>">C</span>
                        </td>
                        <td class="">
                          <%= variant.price %>
                        </td>
                        <% url = "#{CTD::APP_URL}/public/redirect/#{product.handle}/#{variant.id}?salespersonId=#{current_salesperson.id}&requestId=" %>
                        <td class="col col-xs-4 td-actions">
                          <button class="btn btn-xs btn-url" data-title="<%= product.title %>" data-url="<%= url %>"
                                  data-clipboard-text="<%= url %>" title="Copy to clipboard"><%= product.deposit? && 'Deposit' || 'Final' %></button>
                        </td>
                      </tr>
                  <% end %>

                </tbody>
              </table>

            <% end %>
          </div>
        </li>
    <% end %>
  </ul>
</div>
