<%= simple_form_for [:admin, @request] do |f| %>
  <%= f.input :first_name, required: true %>
  <%= f.input :last_name, required: true %>

  <input type="hidden" value="<%= params[:layout] %>" name="layout" >
  <div class="row">
    <div class="col-xs-6 col-sm-4">
      <%= f.input :gender, as: :radio_buttons,
                  collection: [['&nbsp;Female'.html_safe, 'Female'], ['&nbsp;Male'.html_safe, 'Male']],
                  wrapper: :vertical_collection_inline
      %>
    </div>
    <div class="col-xs-6 col-sm-4">
      <%= f.input :is_first_time, label: "&nbsp;First time?".html_safe %>
    </div>
    <div class="col-xs-6 col-sm-4">
      <%= f.input :has_cover_up, label: "&nbsp;Has cover-up?".html_safe %>
    </div>
    <div class="col-xs-6 col-sm-4">
      <%= f.input :has_color, label: "&nbsp;Has color?".html_safe %>
    </div>

  </div>

  <%= f.input :position, required: true, as: :select, collection: Request::TATTOO_POSITIONS %>

  <%= f.input :position, required: true, as: :select, collection: Request::TATTOO_STYLES %>

  <%= f.input :description, as: :text, required: true, input_html: { rows: 10 } %>
  <%= f.input :notes %>

  <%= f.submit %>
<% end %>
