<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @request.user %>
</p>

<p>
  <strong>Token:</strong>
  <%= @request.token %>
</p>

<p>
  <strong>Is first time:</strong>
  <%= @request.is_first_time %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @request.gender %>
</p>

<p>
  <strong>Has color:</strong>
  <%= @request.has_color %>
</p>

<p>
  <strong>Position:</strong>
  <%= @request.position %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @request.notes %>
</p>

<p>
  <strong>Qid:</strong>
  <%= @request.quote_id %>
</p>

<p>
  <strong>Requesting cid:</strong>
  <%= @request.client_id %>
</p>

<p>
  <strong>Ticket url:</strong>
  <a href="https://customtattoodesign.freshdesk.com/helpdesk/tickets/<%= @request.ticket_id %>">https://customtattoodesign.freshdesk.com/helpdesk/tickets/<%= @request.ticket_id %></a>
</p>

<%= link_to 'Edit', edit_admin_request_path(@request) %> |
<%= link_to 'Back', admin_requests_path %>
