<div class="row">
  <div class="card">
    <div class="card-header">
      <h2 class="title">Email Statistics</h2>
      <p class="category"><b>unopened rate</b> - <%= total_email_unopened_rate %>% </p>
      <p class="category"><b>open rate</b> - <%= total_email_open_rate %>% </p>
      <p class="category"><b>click rate</b> - <%= total_click_rate %>% </p>
    </div>
    <div class="card-content table-responsive">
      <table class="table">
        <thead class="text-danger">
          <th>Email Type</th>
          <th>Open Rate</th>
          <th>Click Rate</th>
          <th>Unopened Rate</th>
        </thead>
        <tbody>
          <% box_mailer_types_without_marketing_email.each do |mailer_type| %>
            <tr>
              <td class="text-primary"><%= capitalize_and_split(mailer_type) %></td>
              <td><%= open_percentage_of(mailer_type) %>%</td>
              <td><%= click_percentage_of(mailer_type) %>%</td>    
              <td><%= unopened_percentage_of(mailer_type) %>%</td>
            </tr>
          <% end %>
          
          <% MarketingEmail.template_names.each do |template_name| %>
            <tr>
              <td class="text-primary"><%= capitalize_and_split(template_name) %></td>
              <td><%= open_percentage_of("marketing_email", template_name) %>%</td>
              <td><%= click_percentage_of("marketing_email", template_name) %>%</td>    
              <td><%= unopened_percentage_of("marketing_email", template_name) %>%</td>
            </tr>
          <% end %>
        </tbody>
      </table>

    </div>
  </div>
</div>
    