<div class="row">
  <div class="card">
    <div class="card-header">
      <h2 class="title">Email Statistics</h2>
    </div>
    <div class="card-content table-responsive">
      <table class="table">
        <thead class="text-danger">
        <tr>
          <th></th>
          <th colspan="2" class="text-center  bg-gray">Today</th>
          <th colspan="2" class="text-center">Yesterday</th>
          <th colspan="2" class="text-center bg-gray">2 days ago</th>
          <th colspan="2" class="text-center">3 days ago</th>
        </tr>
        <tr>
          <th class=" text-left">Email Type</th>
          <th class="text-center bg-gray">Total</th>
          <th class="text-center bg-gray">Opened</th>
          <th class="text-center">Total</th>
          <th class="text-center">Opened</th>
          <th class="text-center bg-gray">Total</th>
          <th class="text-center bg-gray">Opened</th>
          <th class="text-center">Total</th>
          <th class="text-center">Opened</th>
        </tr>
        </thead>
        <tbody>
          <% box_mailer_types_without_marketing_email.each do |mailer_type| %>
            <tr class="text-center">
              <td class="text-primary text-left"><%= capitalize_and_split(mailer_type) %></td>
              <% (0..3).each do |days|
                range = [days.days.ago.beginning_of_day..days.days.ago.end_of_day]
              %>
                  <td class="<%= (days % 2 == 0) ? 'bg-gray' : '' %>">
                    <%= all_message_of("BoxMailer##{mailer_type}", nil, range).count %>
                  </td>
                  <td class="<%= (days % 2 == 0) ? 'bg-gray' : '' %>">
                    <%= open_percentage_of("BoxMailer##{mailer_type}", nil, range) %>
                  </td>
              <% end %>
            </tr>
          <% end %>

          <% MarketingEmail.all.each do |email| %>
                <tr class="text-center">
                  <td class="text-primary  text-left"><%= capitalize_and_split(email.template_name) %></td>
                  <% (0..3).each do |days|
                    range = [days.days.ago.beginning_of_day..days.days.ago.end_of_day]
                  %>
                      <td class="<%= (days % 2 == 0) ? 'bg-gray' : '' %>">
                      <%= all_message_of("BoxMailer##{email.mailer_method}", email.template_name, range).count %>
                    </td>
                      <td class="<%= (days % 2 == 0) ? 'bg-gray' : '' %>">
                        <%= open_percentage_of("BoxMailer##{email.mailer_method}", email.template_name, range) %>
                      </td>
                  <% end %>
                </tr>
          <% end %>
        </tbody>
      </table>

    </div>
  </div>
</div>
