<div class="row">
  <div class="card">
    <div class="card-header">
      <h2 class="title">Email Statistics</h2>
    </div>
    <div class="card-content table-responsive">
      <table class="table">
        <thead class="text-danger">
        <tr>
          <th colspan="3"></th>
          <th colspan="3" class="text-center  bg-gray">Today</th>
          <th colspan="3" class="text-center">Yesterday</th>
          <th colspan="3" class="text-center bg-gray">2 days ago</th>
          <th colspan="3" class="text-center">3 days ago</th>
        </tr>
        <tr>
          <th class=" text-left">Email</th>
          <th class=" text-center">States</th>
          <th class=" text-center">Days</th>
          <th class="text-center bg-gray"><span class="glyphicon glyphicon-envelope"></span></th>
          <th class="text-center bg-gray"><span class="glyphicon glyphicon-eye-open"></span></th>
          <th class="text-center bg-gray"><span class="glyphicon glyphicon-chevron-up"></span></th>
          <th class="text-center"><span class="glyphicon glyphicon-envelope"></span></th>
          <th class="text-center"><span class="glyphicon glyphicon-eye-open"></span></th>
          <th class="text-center"><span class="glyphicon glyphicon-chevron-up"></span></th>
          <th class="text-center bg-gray"><span class="glyphicon glyphicon-envelope"></span></th>
          <th class="text-center bg-gray"><span class="glyphicon glyphicon-eye-open"></span></th>
          <th class="text-center bg-gray"><span class="glyphicon glyphicon-chevron-up"></span></th>
          <th class="text-center"><span class="glyphicon glyphicon-envelope"></span></th>
          <th class="text-center"><span class="glyphicon glyphicon-eye-open"></span></th>
          <th class="text-center"><span class="glyphicon glyphicon-chevron-up"></span></th>
        </tr>
        </thead>
        <tbody>
          <% box_mailer_types_without_marketing_email.each do |mailer_type| %>
            <% cache "email-stats/#{mailer_type}", expires_in: 15.minutes do %>
              <tr class="text-center">
                <td class="text-primary text-left" colspan="3"><%= mailer_type.titleize %></td>
                <% (0..3).each do |days|
                  range = [days.days.ago.beginning_of_day..days.days.ago.end_of_day]
                %>
                    <td class="<%= (days % 2 == 0) ? 'bg-gray' : '' %>">
                      <%= all_message_of("BoxMailer##{mailer_type}", nil, range).count %>
                    </td>
                    <td class="<%= (days % 2 == 0) ? 'bg-gray' : '' %>">
                      <%= open_percentage_of("BoxMailer##{mailer_type}", nil, range) %>
                    </td>
                  <td class="<%= (days % 2 == 0) ? 'bg-gray' : '' %>">
                    <%= click_percentage_of("BoxMailer##{mailer_type}", nil, range) %>
                  </td>
                <% end %>
              </tr>
            <% end %>
          <% end %>

          <% MarketingEmail.order(:email_type, :state, :days_after_state_change).each do |email| %>
            <% cache "email-stats/#{email.template_name}", expires_in: 15.minutes do %>
                <tr class="text-center">
                  <td class="text-primary  text-left">
                    <%= link_to email.template_name.titleize, admin_marketing_email_path(email), target: "_blank" %>
                  </td>
                  <td class="text-secondary text-center small"><%= email.state %></td>
                  <td class="text-secondary text-center small"><%= email.days_after_state_change %> </td>
                  <% (0..3).each do |days|
                    range = [days.days.ago.beginning_of_day..days.days.ago.end_of_day]
                  %>
                      <td class="<%= (days % 2 == 0) ? 'bg-gray' : '' %>">
                      <%= all_message_of("BoxMailer##{email.mailer_method}", email.template_name, range).count %>
                    </td>
                      <td class="<%= (days % 2 == 0) ? 'bg-gray' : '' %>">
                        <%= open_percentage_of("BoxMailer##{email.mailer_method}", email.template_name, range) %>
                      </td>
                    <td class="<%= (days % 2 == 0) ? 'bg-gray' : '' %>">
                      <%= click_percentage_of("BoxMailer##{email.mailer_method}", email.template_name, range) %>
                    </td>
                  <% end %>
                </tr>
            <% end %>
          <% end %>
        </tbody>
      </table>

    </div>
  </div>
</div>
