<!DOCTYPE html>
<html>
<head>
  <title>CtdWorklist</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container" id="wrapper">
    <% if current_admin and in_admin_panel? %>
        <%= link_to "Admin sign out", destroy_admin_session_path, :method => :delete %>
        <div id="sidebar-wrapper">
      <ul class="sidebar-nav">
        <li class="sidebar-brand">
          <a href="#" id="variants-user">
          </a>
          <a href="#" id="variants-title">
           Products
          </a>

        </li>
        <%= render template: 'shopify/variants' %>
      </ul>
    </div>
    <% end %>
  <div id="page-content-wrapper">
  <%= yield %>
  </div>
</div>
</body>
</html>
