<!DOCTYPE html>
<html>
<head>
  <title>CtdWorklist</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.css" />
</head>
<body>
  <%= render "layouts/navbar" %>

  <div class="container toggled" id="wrapper">
    <% if current_salesperson and in_admin_panel? %>
        <div id="sidebar-wrapper">
      <ul class="sidebar-nav">
        <li class="sidebar-brand">
          <a href="#" id="variants-user">
          </a>
          <a href="#" id="variants-title">
           Products
          </a>

        </li>
        <%= render template: 'admin/shopify/variants' %>
      </ul>
    </div>
    <% end %>
    <div id="page-content-wrapper">
    <%= yield %>
    </div>

    <footer>
      <% if current_admin %>
          <%= link_to "Admin sign out", destroy_admin_session_path, :method => :delete %>
      <% end %>
    </footer>

  </div>
</body>
</html>
